.mainBox {
    margin-bottom: 50px;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px solid #428bca;
    padding-left: min(15vw, max(calc(30vw - 90px), 0px));
    padding-right: min(15vw, max(calc(30vw - 90px), 0px));
    padding-top: 20px;
    text-align: center;
}

.alumniHeader {
    color: #428bca;
    font-weight: normal;
    font-size: min(7vw, 7em);
}

.descriptionText {
    color: #428bca;
    font-size: min(1.75vw, 1.75em);
}

.markButton {
    color: white !important;
    background-color: #428bca !important;
    font-weight: normal !important;
    font-size: min(1.5vw, 1.5em) !important;
}
