@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');
.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.carousel img {
	border: 0;
	padding: 0;
	margin: 0;
}
